* {
    box-sizing: border-box;
    font-family: 'inter',sans-serif;
}

body {
    margin: 0;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

nav{
    height: 70px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #f55a5a;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 15px 15px;
}

.nav > *{
    color: white;
    margin: 0;
}

.nav--text{
    font-weight:500;

}

.nav--logo{
    font-size: 1.7em;
    margin-right: 7px;
}

.cards-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top:20px;
    padding-bottom: 25px;
}

.card{
    display: flex;    
    font-size: 14px;
    min-height: 168px;
    max-height: 210px;
    justify-content: center;
}

.card--image{
    width: 125px;
    height: 100 vh;    
    object-fit: cover;
    border-radius: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
}

.card--info{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    flex-wrap: nowrap;
    overflow-y: auto;


}

.card--info::-webkit-scrollbar-track {
    padding: 2px 0;
    background-color: #b3b3b3;
}
  
.card--info::-webkit-scrollbar {
    width: 10px;
}
  
.card--info::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #737272;
    border: 1px solid #000;
}

.card--stats{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.fa-location-dot{
    color:#f55a5a;
    margin-right: 4px;
}

.card--country{
    letter-spacing: 1.5px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;

}

.card--location-link{
    color: #918E9B;
}

.card--name{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 0px;
}

.card--dates{
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 5px;
}

.card--description{
    margin-top: 0px;
    margin-bottom: 0px;
    max-width:550px;
}

.card--divider{
    margin-top: 15px;
    margin-bottom: 15px;
    border-color: rgba(245, 245, 245,0.7);
    width: 90%;
    max-width: 650px;
}